
mixin form-group({ type = 'text', label, name, validation }) 
    form( novalidate="novalidate" )
        form-validation
            label.d-block.form-label=label
            input(type=type, name=name, data-validation=validation, html-value=`form.values.${name}`)
            p.text-danger(html-if=`form.errors.${name}` html-inner=`form.errors.${name}`)
        block 
